{% extends "base.html" %}
{% load catalog_filters %}
{% block title %}
{{ block.super }} - Shopping Cart
{% endblock %}
{% block content %}
<section  class="columns" id="shopping_cart">
    <div class="col-1 column">
    </div>
    <div class="col-10 column">
    <h1>Shopping Cart</h1>

	<table summary="Your Shopping Cart" id="shopping_cart">
		<thead>
			<tr>
				<th scope="col">Image</th>
				<th scope="col">Title</th>
                <th scope="col">Issue #</th>
				<th scope="col">Quantity</th>
				<th scope="col">Unit Price</th>
				<th scope="col" class="right">Total</th>
				<th></th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th class="align-right" colspan="5">
					Cart Subtotal:
				</th>
				<th class="align-right">
					{{ cart_subtotal|currency }}
				</th>
			</tr>
			{% if cart_items %}
			<tr>
				<th class="align-right" colspan="6">
                <a href="{% url 'issue_list' %}" class="btn">Shop More</a>
                {% if has_profile %}
                    <a href="{% url 'profile_update' %}" class="btn btn-primary">Check Out</a>
                {% else %}
                    <a href="{% url 'profile_create' %}" class="btn btn-primary">Check Out</a>
                {% endif %}
                </form>
				</th>
			</tr>
			{% endif %}
		</tfoot>
		<tbody>
		{% if cart_items %}
			{% for item in cart_items %}

                {% include 'cart/cart_item.html' %}
			{% endfor %}
		{% else %}
		      <tr>
					<td colspan="6" style="height:30px;">
						Your cart is empty.
					</td>
				</tr>
		{% endif %}
		</tbody>
	</table>
	<br /><br />


    {% if not cart_item_count == 0 %}
    {% endif %}

    </div>
    <div class="col-1 column">
    </div>
</section>
{% endblock %}
