{% extends parent_template|default:"base.html" %}
{% block title %}
{{ block.super }} - Fix Test
{% endblock %}
{% block content %}
    {% load static %}
    <section id="imports" class="columns">
        <div class="col-1 column">
        </div>
        <div class="col-10 column">    <h5>Import Porblems</h5>
        <table>
    {% for error in errors %}
        <tr>
        {% for subitem in error %}
           <td>{{ subitem }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
        </div>
        <div class="col-1 column">
        </div>
    </section>
{% endblock %}