/* Theme.less */
html,
body {
  height: 100%;
  background: #dfefff;
  margin: 0;
}
#wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px;
}
#wrapper:after {
  content: "";
  display: block;
}
.site-footer,
#wrapper:after {
  height: 100px;
  /* magic number! Height of footer */
}
header,
footer {
  background: #acd5ff;
  padding: 20px 30px;
}
header {
  padding: 0 30px;
}
.navbar .navbar-brand {
  font-family: 'Baloo Paaji', cursive;
  font-size: 4.5rem;
  color: yellow;
  text-shadow: 1px 2px 1px #006fdf;
}
.navbar-section span {
  position: absolute;
  top: 8rem;
  color: #4452c0;
}
.navbar p {
  display: inline-block;
  padding: 0 1em;
}
section.navbar-section {
  padding-bottom: 0;
}
section {
  padding: 20px 30px;
}
.smaller {
  font-size: 80%;
}
.size2em {
  font-size: 2em;
}
.size3em {
  font-size: 3em;
}
.align-right {
  text-align: right;
}
#shopping_cart td {
  padding: 0.4em;
  border: 1px solid lightblue;
}
.btn.delete {
  width: 60px;
  background: url("/static/icon-trash.svg") no-repeat center center;
  background-size: 20px;
}
.btn.delete:hover {
  background-color: #acd5ff;
}
#single .notes h1 {
  font-size: 1.6em;
  font-weight: bold;
}
#single .notes span {
  color: #888;
}
#single .price {
  font-size: 1.4em;
  color: #60afff;
}
#single img {
  -webkit-box-shadow: 3px 3px 5px 0px rgba(25, 25, 25, 0.5);
  -moz-box-shadow: 3px 3px 5px 0px rgba(25, 25, 25, 0.5);
  box-shadow: 3px 3px 5px 0px rgba(25, 25, 25, 0.5);
}
#list img {
  -webkit-box-shadow: 2px 2px 4px 0px rgba(25, 25, 25, 0.5);
  -moz-box-shadow: 2px 2px 4px 0px rgba(25, 25, 25, 0.5);
  box-shadow: 2px 2px 4px 0px rgba(25, 25, 25, 0.5);
}
#list p {
  margin: 0;
}
h5.card-header {
  margin: 0;
}
#list .card {
  border: 0.3rem solid #c5e2ff;
  border-radius: 1rem;
}
#id_email {
  width: 210px;
}
#messages {
  max-width: 320px;
  padding: 1em 1.5em 0.8em;
  color: yellow;
  font-size: 120%;
  background: #4452c0;
  text-shadow: darkblue 1px 2px 2px;
  border: ridge 7px yellow;
  border-radius: 2rem;
  margin: 1em auto 0;
}
#gotopage {
  width: 5rem;
}
.pagination li {
  display: inline-block;
}
.center-text {
  text-align: center;
}
.btn {
  margin: 0.4em 3px;
}
/* Button design from Mandy Brown */
.btn3 {
  display: inline-block;
  width: 90%;
  text-align: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 8px 0 #1389ff, 0 15px 20px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 8px 0 #1389ff, 0 15px 20px rgba(0, 0, 0, 0.35);
  box-shadow: 0 8px 0 #1389ff, 0 15px 20px rgba(0, 0, 0, 0.35);
  background: #93c9ff;
  background: -webkit-linear-gradient(top, #79bcff 0%, #93c9ff 100%);
  background: -moz-linear-gradient(#79bcff, #93c9ff);
  background: linear-gradient(to bottom, #79bcff 0%, #93c9ff 100%);
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  -moz-transition: -moz-box-shadow 0.2s ease-in-out;
  -o-transition: -o-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  margin-bottom: 2.5rem;
}
.btn3 span {
  display: inline-block;
  padding: 10px 20px;
  font-family: 'Baloo Paaji', cursive;
  font-size: 150%;
  color: yellow;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(19, 65, 88, 0.8);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -moz-transition: -moz-transform 0.2s ease-in-out;
  -o-transition: -o-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}
.btn3:active {
  -webkit-box-shadow: 0 8px 0 #46a2ff, 0 12px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 0 #46a2ff, 0 12px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 0 #46a2ff, 0 12px 10px rgba(0, 0, 0, 0.3);
}
.btn3:active span {
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}
#genres {
  margin-bottom: 2.5rem;
  max-width: 90%;
}
#pub-search {
  margin-bottom: 2.5rem;
  width: 90%;
}
#search-bar a {
  margin-bottom: 2.5rem;
}
#title_search {
  vertical-align: top;
}
#category_block,
#search_block,
#tag_block {
  display: none;
}
.error {
  border: 2px solid red;
}
#create_account label {
  display: inline-block;
  width: 120px;
}
#create_account input {
  margin-right: 20px;
}
#get_catalog .col-10,
#about .col-10,
#contact .col-10 {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 40px;
}
#photojournals img.float-left {
  margin-right: 24px;
}
