{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'spectre.css' %}" />
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'theme.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/static/main.js"></script>
        <meta charset="utf-8">
        {% block head %}
        {% endblock %}

        <title>
            {% block title %}
            RTS Comics
            {% endblock %}
        </title>
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1">
        <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js>
        </script><![endif]-->
    </head>
    <body>
        <div id="wrapper">
        <header>
            <div  class="navbar">
            <section class="navbar-section">
                <!-- Nav button
                <a href="#" class="btn btn-link btn-lg">
                    <i class="icon icon-people"></i>
                </a>
                -->
                <a href="/" class="navbar-brand">RTS Comics<sup>&reg;</sup></a> <!-- ToDo: fix hardcoded link -->
                <br><span>Collectors helping collectors since 1986</span>
            </section>
            <section class="navbar-section">
                <a href="{% url 'show_cart' %}" class="btn">
                    Cart <img src="{% static 'icon-cart.svg' %}" class="icon">
                    {% if cart_count > 0 %}
                    <span id="cart-count">{{ cart_item_count }}</span>
                    {% endif %}
                </a>
                {% if user.is_anonymous %}
                    <a href="{%  url 'login' %}" class="btn">Login</a>
                    <a href="{% url 'registration_register' %}" class="btn btn-primary">Signup</a>
                {% else %}
                    <p>Welcome, {{ user.username }}</p>
                    <a href="{%  url 'logout' %}" class="btn">Log Out</a>
               {% endif %}
            </section>
                </div>
                <div class="text-center">
                    <div class="btn-group">
                        <a href="{% url 'issue_list' %}" class="btn btn-primary">Find Comics</a>
                        <a href="{% url 'get_catalog' %}" class="btn btn-primary">Get Catalog</a>
                        <a href="{% url 'photojournals' %}" class="btn btn-primary">Photo-Journals</a>
                        <a href="{% url 'about' %}" class="btn btn-primary">About Us</a>
                        <a href="{% url 'contact' %}" class="btn btn-primary">Contact Us</a>
                    </div>
                </div>
        </header>
        {% if messages %}
        <div id="messages">
            {% for message in messages %}
                {% if message.tags %}
                    <p class="{{ message.tags }}">
                {% else %}
                    <p>
                {% endif %}
                    {{ message }}
                    </p>
            {% endfor %}
{#            <button class="btn btn-primary">Close</button>#}
        </div>
        {% endif %}
            <main>
                {% block content %}
                This is default content!
                {% endblock %}
            </main>
        </div><!-- wrapper -->
        <footer>
            <p>
                &copy; 2016 RTS Unlimited
            </p>
            <p>
                Web development by <a href="http://deepwebworks.com">Deep Web Works</a>
            </p>
        </footer>
    </body>
</html>