{% extends parent_template|default:"comix/base_comix.html" %}
{% block title %}
{{ block.super }} - Image Processing
{% endblock %}
{% block content %}
    <div style="margin-left:10%;margin-right:10%;">
    {% if errors %}
    <h2>Errors Encountered</h2>
        <section>
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
       </section>
    {% else %}
    <h2>Success!</h2>
    {% endif %}
    {% if warnings %}
    <h2>Images with no matching catalog number:</h2>
        <section>
            {% for warning in warnings %}
                <p>{{ warning }}</p>
            {% endfor %}
       </section>
    {% endif %}
    <h2>{{ process_ct }} Images Processed</h2>
        <section>
            <ul>
                {% for image in images %}
                <li>{{ image }}</li>
                {% endfor %}
            </ul>
        </section>
    </div>
{% endblock %}