{% extends 'base.html' %}

{% load checkout_tags %}

{% block title %}
{{ block.super }} - Check Out
{% endblock %}
{% block content %}
<section id="checkout" class="columns">
    <div class="col-1 column">
    </div>
    <div class="col-10 column">
    <h1>Shipping Information</h1>
    {% if not request.user.is_authenticated %}
    <p><a href="{%  url 'login' %}?next={% url 'profile_update' %}" class="btn btn-primary">Log In</a>
    or <a href="{% url 'registration_register' %}?next={{ request.get_full_path|urlencode }}"
       class="btn btn-primary">Sign Up
        </a>
    to bring up or save your shipping information.</p>
    <p>By creating an account you will be able to shop faster, be up to date on an order’s
        status, and keep track of the orders you have previously made.</p>
    <p>You may also continue without logging in.</p>
    <p>&nbsp;</p>
    {% endif %}
    {% if error_message %}
    <ul class="errorlist">
        <li>{{ error_message }}</li>
    </ul>
    {% endif %}

    <form action="." method="post">
            {% csrf_token %}
        <fieldset class="checkout">
            <legend>Contact Information</legend>
            <table>
                {% form_table_row form.email %}
                {% form_table_row form.phone %}
            </table>
        </fieldset>

        <fieldset class="checkout">
            <legend>Shipping Information</legend>
            <table>
                {% form_table_row form.first_name %}
                {% form_table_row form.last_name %}
                {% form_table_row form.address1 %}
                {% form_table_row form.address2 %}
                {% form_table_row form.city %}
                {% form_table_row form.state %}
                {% form_table_row form.zip %}
            </table>
        </fieldset>
        <table>
            <tr>
                <th colspan="2"><input type="submit" value="Continue" class="btn btn-primary"></th>
            </tr>
        </table>
        <p>You will have an opportunity to review your order before paying.</p>
    </form>
    </div>
    <div class="col-1 column">
    </div>
    </section>
{% endblock %}

