{% extends "base.html" %}
{% load catalog_filters %}
{% block title %}
{{ block.super }} - Shopping Cart
{% endblock %}
{% block content %}
    {% load static %}
<section  class="columns" id="shopping_cart">
    <div class="col-1 column">
    </div>
    <div class="col-10 column">
{#    <h1>Shopping Cart</h1>#}
    <table id="buy_steps">
        <tr>
            <td>&nbsp;</td>
            <td>
                <img src="{% static 'comix/redstar.png' %}"><br>Cart
            </td>
            <td class="faint">
                <img src="{% static 'comix/redstar.png' %}"><br>Shipping
            </td>
            <td class="faint">
                <img src="{% static 'comix/redstar.png' %}"><br>Review
            </td>
            <td class="faint">
                <img src="{% static 'comix/redstar.png' %}"><br>Payment
            </td>
        </tr>
    </table>
    <h3>Your cart contains {{ cart_item_count }} item{% if cart_item_count > 1 %}s {% endif %}</h3>
	<table summary="Your Shopping Cart" id="shopping_cart" class="cart-table">
		<thead>
			<tr>
				<th scope="col">Item</th>
				<th scope="col" class="align-center">Name</th>
				<th scope="col">Quantity</th>
				<th scope="col">Price</th>
				<th scope="col" class="right">Subtotal</th>
				<th></th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th class="align-right" colspan="4">
					Cart Subtotal:
				</th>
				<th class="align-center">
					{{ cart_subtotal|currency }}
				</th>
			</tr>
			{% if cart_items %}
			<tr>
				<th class="align-right" colspan="5">
                <a href="{% url 'issue_list' %}" class="btn">Continue Shopping</a>
                {% if has_profile %}
                    <a href="{% url 'profile_update' %}" class="btn btn-primary">Check Out</a>
                {% else %}
                    <a href="{% url 'profile_create' %}" class="btn btn-primary">Check Out</a>
                {% endif %}
                </form>
				</th>
			</tr>
			{% endif %}
		</tfoot>
		<tbody>
		{% if cart_items %}
			{% for item in cart_items %}

                {% include 'orders/cart_item.html' %}
			{% endfor %}
		{% else %}
		      <tr>
					<td colspan="6" style="height:30px;">
						Your cart is empty.
					</td>
				</tr>
		{% endif %}
		</tbody>
	</table>
	<br /><br />


    {% if not cart_item_count == 0 %}
    {% endif %}

    </div>
    <div class="col-1 column">
    </div>
</section>
{% endblock %}
