{% extends 'base.html' %}

{% load checkout_tags %}

{% block title %}
{{ block.super }} - Check Out
{% endblock %}
{% block content %}
    {% load static %}
<section id="my_account" class="columns">
    <div class="col-1 column">
    </div>
    <div class="col-10 column">
    <h3>Account Information</h3>
    {% if updated %}
        <p class="green">Account Information successfully updated!</p>
    {% endif %}
    {% if error_message %}
    <ul class="errorlist">
        <li>{{ error_message }}</li>
    </ul>
    {% endif %}
    {% if needs_login %}
        <p>Please <a href="{%  url 'login' %}?next={% url 'my_account' %}" class="btn btn-primary">Log In</a>
        to see your Account information, or <a href="{% url 'registration_register' %}?next={{ request.get_full_path|urlencode }}"
           class="btn btn-primary">Sign Up
            </a>
        to save your information.</p>
        <p>By creating an account you will be able to shop faster, keep a want list, be up to date on an order’s
            status, and keep track of the orders you have previously made.</p>
    {% else %}


    <form action="." method="post">
            {% csrf_token %}
        <fieldset class="checkout">
            <legend>Contact Information</legend>
            <table>
                {% form_table_row form.email %}
                {% form_table_row form.phone %}
            </table>
        </fieldset>

        <fieldset class="checkout">
            <legend>Shipping Information</legend>
            <table>
                {% form_table_row form.first_name %}
                {% form_table_row form.last_name %}
                {% form_table_row form.address1 %}
                {% form_table_row form.address2 %}
                {% form_table_row form.city %}
                {% form_table_row form.state %}
                {% form_table_row form.zip %}
            </table>
        </fieldset>
        <table>
            <tr>
                <th colspan="2"><input type="submit" value="Update" class="btn btn-primary"></th>
            </tr>
        </table>
    </form>
    {% endif %}
    </div>
    <div class="col-1 column">
    </div>
    </section>
{% endblock %}

