{% load catalog_filters %}

    <tr>
            <td><img class="thumb" src = "/static/thumbnails/{{ item.product.cover_image }}"></td>
        <td>
            <a href="{{ item.get_absolute_url }}" class="cart">
                {{ item.product.title }}
            </a>
        </td>
        <td>
        {% if item.volume > 0 %}
            <span>Volume #</span> {{ item.product.volume }}
        {% endif %}
        {{ item.product.number }}
        </td>
        <td class="center-text">
            {{ item.quantity }}
        </td>
        <td class="align-right">{{ item.price|currency }}</td>
        <td class="align-right">{{ item.total|currency }}</td>
    </tr>
