{% load catalog_filters %}

    <tr>
        <td><img class="thumb" src = "/static/thumbnails/{{ item.product.images.all.0.file_name }}"></td>
        <td>
            <a href="{{ item.get_absolute_url }}" class="cart">
                {{ item.product.long_title }}
            {% if item.volume > 0 %}
                <span>Volume #</span> {{ item.product.volume }}
            {% endif %}
                {{ item.product.number }}
            </a>
        </td>
        <td class="center-text">
            {{ item.quantity }}
        </td>
        <td class="align-right">{{ item.price|currency }}</td>
        <td class="align-right">{{ item.total|currency }}</td>
    </tr>
