{% extends 'base.html' %}

{% load checkout_tags %}

{% block title %}
{{ block.super }} - Check Out
{% endblock %}
{% block content %}
    {% load static %}
<section id="checkout" class="columns">
    <div class="col-1 column">
    </div>
    <div class="col-10 column">
    <table id="buy_steps">
        <tr>
            <td>&nbsp;</td>
            <td class="faint">
                <img src="{% static 'comix/redstar.png' %}"><br>Cart
            </td>
            <td>
                <img src="{% static 'comix/redstar.png' %}"><br>Details
            </td>
            <td class="faint">
                <img src="{% static 'comix/redstar.png' %}"><br>Review
            </td>
            <td class="faint">
                <img src="{% static 'comix/redstar.png' %}"><br>Payment
            </td>
        </tr>
    </table>
    <h3>Shipping Information</h3>
    <p>Please verify your shipping information.</p>
    {% if error_message %}
    <ul class="errorlist">
        <li>{{ error_message }}</li>
    </ul>
    {% endif %}


    <form action="." method="post">
            {% csrf_token %}
        <fieldset class="checkout">
            <legend>Contact Information</legend>
            <table>
                {% form_table_row form.email %}
                {% form_table_row form.phone %}
            </table>
        </fieldset>

        <fieldset class="checkout">
            <legend>Shipping Information</legend>
             <div id="countries">
                <input type="radio" name="country" value="USA" checked> &nbspU.S.A. &nbsp
                <input type="radio" name="country" value="Other"> &nbsp;Other Country
            </div>
           <table>
                {% form_table_row form.first_name %}
                {% form_table_row form.last_name %}
                {% form_table_row form.address1 %}
                {% form_table_row form.address2 %}
                {% form_table_row form.city %}
                {% form_table_row form.state %}
                {% form_table_row form.zip %}
            </table>
             <div class="hidden message">
                <h4 class="red">Save Money!<br>
                    We ship to the 48 continguous U.S. states from this website.
                    In order to lower your shipping costs, please order your products
                    from our <a href="https://www.ebay.com/usr/rtsunlimited?_trksid=p2047675.l2559">Ebay Store</a>
                    or <a href="/contact/">Contact Us.</a>
                </h4>
            </div>
       </fieldset>
        <table>
            <tr>
                <th colspan="2"><input type="submit" value="Continue" class="btn btn-primary submit"></th>
            </tr>
        </table>
        <p>You will have an opportunity to review your order before paying.</p>
    </form>
    </div>
    <div class="col-1 column">
    </div>
    </section>
    <script>
         $(document).ready(function(){
            $('#countries').change(function(){
                if ($("input[name='country']:checked").val() == 'Other') {
                    $(".checkout table").hide();
                    $(".message").show();
                    $(".submit").addClass('disabled');
                } else {
                    $(".checkout table").show();
                    $(".message").hide();
                    $(".submit").removeClass('disabled');
                }
            });
        });
    </script>
{% endblock %}

