{% extends "base.html" %}
{% load catalog_filters %}
{% block title %}
{{ block.super }} - Want List
{% endblock %}
{% block content %}
<section class="columns" id="wishlist">
    <div class="col-1 column">
    </div>
    <div class="col-10 column">
    <h1>Want List</h1>

    {% if needs_login %}
        <p>Please <a href="{%  url 'login' %}?next={% url 'wish_list' %}" class="btn btn-primary">Sign In</a>
        to see your Account Information, or <a href="{% url 'registration_register' %}?next={{ request.get_full_path|urlencode }}"
           class="btn btn-primary">Create Account
            </a>
        to be save your information.</p>
        <p>By creating an account you will be able to check out faster, be up to date on an order’s
            status, and keep track of orders you have previously&nbsp;made.</p>
   {% else %}
	<table summary="Your Wish List" id="shopping_cart" class="cart-table">
		<thead>
			<tr>
				<th scope="col">Item</th>
				<th scope="col" class="align-center">Name</th>
				<th scope="col">Price</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tfoot>
			{% if wish_list_items %}
			<tr>
				<th class="align-right" colspan="6">
                <a href="{% url 'issue_list' %}" class="btn">Continue Shopping</a>
                </form>
				</th>
			</tr>
			{% endif %}
		</tfoot>
		<tbody>
		{% if wish_list_items %}
			{% for item in wish_list_items %}
                {% include 'orders/wish_list_item.html' %}
			{% endfor %}
		{% else %}
		      <tr>
					<td colspan="6" style="height:30px;">
						Your wish list is empty.
					</td>
				</tr>
		{% endif %}
		</tbody>
	</table>
    {% endif %}
	<br /><br />
    </div>
    <div class="col-1 column">
    </div>
</section>
{% endblock %}
