{% extends "base.html" %}
{% load catalog_filters %}
{% block title %}
{{ block.super }} - Want List
{% endblock %}
{% block content %}
<section class="columns" id="wishlist">
    <div class="col-1 column">
    </div>
    <div class="col-10 column">
    <h1>Want List</h1>

    {% if needs_login %}
    <p>Please <a href="{%  url 'login' %}?next={% url 'want_list' %}" class="btn btn-primary">Log In</a>
    to see your Want List, or <a href="{% url 'registration_register' %}?next={{ request.get_full_path|urlencode }}"
       class="btn btn-primary">Sign Up
        </a>
    to be able to save items to your want list.</p>
    <p>By creating an account you will be able to shop faster, be up to date on an order’s
        status, and keep track of the orders you have previously made.</p>
    {% else %}
	<table summary="Your Want List" id="shopping_cart">
		<thead>
			<tr>
				<th scope="col">Image</th>
				<th scope="col">Title</th>
                <th scope="col">Issue #</th>
				<th scope="col">Price</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tfoot>
			{% if wish_list_items %}
			<tr>
				<th class="align-right" colspan="6">
                <a href="{% url 'issue_list' %}" class="btn">Shop More</a>
                </form>
				</th>
			</tr>
			{% endif %}
		</tfoot>
		<tbody>
		{% if wish_list_items %}
			{% for item in wish_list_items %}
                {% include 'orders/wish_list_item.html' %}
			{% endfor %}
		{% else %}
		      <tr>
					<td colspan="6" style="height:30px;">
						Your want list is empty.
					</td>
				</tr>
		{% endif %}
		</tbody>
	</table>
    {% endif %}
	<br /><br />
    </div>
    <div class="col-1 column">
    </div>
</section>
{% endblock %}
