{% extends parent_template|default:"base.html" %}
{% block title %}
{{ block.super }} - About Us
{% endblock %}
{% block content %}
    <section id="about" class="columns">
        <div class="col-1 column">
        </div>
        <div class="col-10 column">
        <h1>About RTS Comics</h1>
            <p>RTS Unlimited, Inc. is the Rocky Mountain Region's
         premier back issue comic dealer! We've been in business for
         over 25 years and have received numerous customer service
         awards. With over 100,000 comics in stock from 1917-2014, we
         cover every genre, nearly every publisher and have something
         for everyone!</p>

         <h4>RTS Unlimited, Inc.</h4>

         <p>
         PO Box 150412<br>
         Lakewood CO 80215-0412 USA<br>
         Phone: 303-403-1840
         </p>

         <p>Hours: The best time to try and reach us is 10AM-6PM Mountain time
         Monday-Saturday<br>
         </p>

         <h4>How To Order:</h4>

         <p>If you live outside the United States or do not wish to use this website to make a purchase, you can e-mail an order
         (RTSUnlimitedInc@Gmail.com), call in an order
         (303)-403-1840, fax an order to (303)-403-1837, or mail an
         order to RTS Unlimited, Inc, PO Box 150412, Lakewood CO
         80215-0412. We accept, checks, money orders, PayPal, Visa,
         MasterCard, American Express, and Discover.</p>

        </div>
        <div class="col-1 column">
        </div>

    </section>
    <script>
        $('#wrapper').css('background-image', "url('/static/comix/bg.jpg')");
    </script>

{% endblock %}