{% extends parent_template|default:"base.html" %}
{% block title %}
{{ block.super }} - 10 Point Guarantee
{% endblock %}
{% block content %}
    {% load static %}
    <section id="about" class="columns">
        <div class="col-1 column">
        </div>
        <div class="col-10 column guarantee">
        <h1>Our 10 Point Guarantee</h1>
            <h4>We are dedicated to providing you with unparalleled service and satisfaction! We know you'll
            appreciate the features and benefits of our company.</h4>

        <h5>1. The RTS Unlimited, Inc. Corporate philosophy:</h5>
            <p>We will provide you with excellent customer service and honesty. We know that we can't succeed
                unless we provide you with the unparalleled customer service you deserve. Each customer is
                special to us and we want you to feel that way. We expect all of our empfoyees to treat you
                with respect and courtesy. All questions, comments, and suggestions are taken with respect.
                We want RTS Unlimited, Inc. to be the company you can trust and depend on! </p>
        <h5>2. All orders are shi,pped in our exclusive custom designed shipping boxes (when appropriate).</h5>
            <p>We looked at shipping boxes and couldn't find any that would protect comics from damage. So, we
                designed our own! (We also sell these boxes. Please contact us if interested!) </p>
        <h5>3. Quick order processing.</h5>
            <p>Most orders are shipped within 72 hours regardless of payment type. We know how much you want your
                order! We do everything we can to ship your order quickly! If there is an excessive delay, we
                will let you know what it is. </p>
        <h5>4. An invoice / packing list.</h5>
            <p>Each order is accompanied by an invoice describing what was shipped, how it was paid; and the
                address shipped to.</p>
        <h5>5. A copy of your order, payment and envelope (when possible).</h5>
            <p>We want you to have a copy of your order as you sent it to us for your records. We are the only
                company that provides all of these documents to you. Online orders can be reviewed
                on this website.</p>
        <h5>6.	We give refunds not credit slips.</h5>
        <h5>7.	Customer survey.</h5>
            <p>We send a postcard asking how we did with your order. We want to know what we did right and
                what we didn't. This gives you the opportunity to make suggestions and give us feedback
                on what is important to you. We are the only company to include such a postcard because,
                we are the only company as dedicated to serving you! </p>
        <h5>8. A Self Addressed Envelope in all our catalogs (For U.S. Customers).</h5>
            <p>We are the only back issue mail order company in the comics industry to provide you with the
                convenience of including a self-addressed envelope for your next order, want list, or other
                correspondence. </p>
        <h5>9. Most orders are shipped insured and with tracking numbers free of extra charge.</h5>
            <p>We want you to feel safe and secure with the knowledge that your order is insured against damage
                or loss while in transit from our warehouse to your door. Most packages are shipped with either
                a U.S. Postal Service delivery confirmation number or with UPS' ground track system. Most orders
                are shipped insured at no additional cost to you! </p>
        <h5>10. All merchandise comes with our exclusive money back guarantee.</h5>
            <p>All merchandise may be returned in the same condition as sent for a full refund within 30 days.
                We make every effort to ensure that all comics are accurately described and graded.
                Unfortunately, errors do occur so, check your order carefully. <b>In the unlikely event you wish
                to return merchandise. you MUST contact us first to recefve an authorized return number and
                to let us know the reason for the return. Merchandise returned without an authorized return
                number will be subjected to a restocking fee of the greater of $10.00 or 20% of retail. All
                items MUST be returned. with all original bags, boards, and sleeves. Items returned without
                them will be assessed a $5.00 restocking fee per item.</b> Once you have·an authorized return number,
                repack your order carefully and mail ii back to us by insured U.S. mail if possible. Returned
                items that have been damaged will be subjected to a lower refund. Once we receive the merchandise
                back and verify it, we will issue you a refund. </p>
        </div>
        <div class="col-1 column">
        </div>

    </section>
{#    <script>#}
{#        $('#wrapper').css('background-image', "url('{% static 'comix/bg.jpg'  %}')");#}
{#    </script>#}

{% endblock %}