{% extends parent_template|default:"comix/base_comix.html" %}
{% block title %}
    {{ block.super }} - {{ issue.gcd_series.name }} #{{ issue.number }}
    <meta name=”description” content=”Comics! Details for {{ issue.gcd_series.name }} #{{ issue.number }}.
          Best selection and prices.”>
{% endblock %}
{% block sectionhead %}
    <section id="single" class="columns">
{% endblock %}
{% block subcontent %}
    {% load static %}
        <div class="column col-4">
            <img src="/static/bigImages/{{ issue.cover_image }}" alt="Cover of {{ issue.gcd_series.name }} #{{ issue.number }}" class="img-responsive rounded">
            {% if issue.image_scanned == False %}
            <div class="clearfix smaller">
                Stock photo from
                <a href="http://www.comics.org" target="_blank">Comics.org</a>
            </div>
            {% endif %}
        </div>
        <div class="column col-4 notes">
            <h1>{{ issue.gcd_series.name }} #{{ issue.number }}</h1>
            <p><span>Publisher:</span> {{ series.gcd_publisher }}</p>
            {% if issue.volume > 0 %}
                <p><span>Volume #</span> {{ issue.volume }}</p>
            {% endif %}
            <p><span>Issue #</span> {{ issue.number }}</p>
            <p><span>Date:</span> {{ issue.publication_date }}</p>
            <p><span>Grade:</span> {{ issue.grade }}</p>
            {% if issue.grade_notes > "" %}
                <p><span>Grade Notes:</span> {{ issue.grade_notes}}</p>
            {% endif %}
            {% if issue.genre_id > 0 %}
                <p><span>Genre:</span> {{ issue.genre_id.name }}</p>
            {% endif %}
            {% if issue.gcd_notes > "" %}
                <p><span>Issue Notes:</span> {{ issue.gcd_notes }}</p>
            {% endif %}
            {% if issue.notes > "" %}
                <p><span>RTS Notes:</span> {{ issue.notes }}</p>
            {% endif %}
            <hr>
            <p>Price: <span class="price">${{ issue.price }}</span></p>
            {% if issue.quantity > 1 %}
                <p>Quantity Available: {{ issue.quantity }}</p>
            {% endif %}
            <p>Catalog # {{ issue.catalog_id }}</p>
            <hr>
            {% if issue.status == 'available' %}
                <a href="#/" class="btn btn-primary"  onclick="add_to_cart('{{ issue.catalog_id }}')">Add to Cart</a>
            {% else %}
                <p class="sorry">Sorry&mdash;Sold!</p>
            {% endif %}
                <a href="#/" class="btn btn-primary" onclick="history.go(-1)">Go Back</a>
            <div id="results"></div>

        </div>

   <!--
    indicia_date = models.CharField(max_length=255)
    inserts = models.CharField(max_length=255)
    si = models.CharField(max_length=255)
    added_date = models.DateTimeField()
    tags = models.ManyToManyField(Tag)
    quantity = models.IntegerField()
    status = models.CharField(max_length=63)
    sold_date = models.DateTimeField(null=True)
    -->
    </section>
{% endblock %}