    <div class="flexwrap">

    {% for issue in issues %}
        <div class="card comic">
            <div class="card-header">
                <div class="card-image">
                    <a href="{{ issue.get_absolute_url }}">
                        <img src="/static/thumbnails/{{ issue.cover_image }}"
                             alt="Cover of {{ issue.gcd_series.name }} #{{ issue.number }}"
                             class="img-responsive centered">
                    </a>
                </div>
            </div>
            <div class="card-body" onclick="location.href='{{ issue.get_absolute_url }}';">
                <p class="center-text">{{ issue.title }}
                </p>
                <p class="center-text">{{ issue.publisher_name }}</p>
               {% if issue.volume > 0 %}
                    <p><span>Volume #</span> {{ issue.volume }}</p>
                {% endif %}
                <p>{% if issue.volume > '' %}Volume {{ issue.volume }}{% endif %}
                    <span>Issue #</span> {{ issue.show_number }}</p>
                <p><span>Grade:</span> {{ issue.grade }}</p>
                <p><span class="price">Price:</span>${{ issue.price }}</p>
                <p><span>Date:</span>
                    {% if issue.indicia_date > '' %}
                    {{ issue.indicia_date }}
                    {% else %}
                    {{ issue.publication_date }}
                    {% endif %}</p>
                {% if issue.notes_preview > "" %}
                    <p class="center-text">{{ issue.notes_preview }}
                    {% if issue.notes_preview|length > 43 %}
                        <a href="{{ issue.get_absolute_url }}" class="more-link">more</a>
                    {% endif %}
                    </p>
                {% endif %}
{#                {% if issue.gcd_notes > "" %}#}
{#                    <p><span>GCD Notes:</span> {{ issue.gcd_notes_preview }}#}
{#                    {% if issue.gcd_notes_preview|length > 97 %}#}
{#                        (<a href="{{ issue.get_absolute_url }}">more</a>)#}
{#                    {% endif %}#}
{#                    </p>#}
{#                {% endif %}#}
{#                <p><span>Catalog #</span> {{ issue.catalog_id }}</p>#}
            </div>
                {% if issue in wish_list_issues %}
                    <span class="btn non-btn wish-list">In Wish List</span>
                {% else %}
                    <a href="#/" class="btn btn-primary wish-list"
                       onclick="add_to_wish_list('{{ issue.pk }}', this)">Wish List</a>
                {% endif %}

                {% if issue in cart_issues %}
                    <span class="btn non-btn add-to-cart">In Cart</span>
                {% else %}
                    <a href="#/" class="btn btn-primary add-to-cart"
                       onclick="add_to_cart('{{ issue.catalog_id }}', this)">Add to Cart</a>
                {% endif %}

       </div>
        {% empty %}
            <h4>Sorry, no items found that match your request.</h4>
        {% endfor %}
             {% if issues.has_next %}
                <a id="linknext" href="?page={{ issues.next_page_number }}{{ query_string }}">Next Page >></a>
            {% endif %}
    </div>
