{% extends parent_template|default:"comix/base_comix.html" %}
{% block title %}
    {{ block.super }} - {{ issue.title }}
    {% if issue.volume > '' %} Volume {{ issue.volume }}{% endif %}
    #{{ issue.number }}
    <meta name=”description” content=”Comics! Details for {{ issue.title }} #{{ issue.number }}.
          Best selection and prices.”>
{% endblock %}
{% block sectionhead %}
    <section id="single" class="columns">
{% endblock %}
{% block subcontent %}
    {% load static %}
        <div class="column col-4">
            <img src="/static/bigImages/{{ issue.images.all.0.file_name }}"
                 alt="Cover of {{ issue.title }} #{{ issue.number }}" class="img-responsive rounded">
            {% if issue.images.all.0.file_name != 'coming_soon.jpg' %}
                <div class="clearfix center-text">
                {% if issue.images.all.0.is_scanned == False  %}
                    Stock photo from
                    <a href="http://www.comics.org" target="_blank">Comics.org</a>.
                {% else %}
                    Scan of actual cover
                {% endif %}
                </div>
            {% endif %}
        {% for image in issue.images.all %}
            {% if forloop.counter > 1 %}
            <img src="/static/bigImages/{{ image.file_name }}"
                 alt="Image from {{ issue.title }} #{{ issue.number }}" class="img-responsive rounded">
                <div class="clearfix center-text">
                    Scan from actual comic
                </div>
            {% endif %}
        {% endfor %}
        </div>
        <div class="column col-4 notes">
            <h1>{{ issue.long_title }}
                {% if issue.volume > '' %} Volume {{ issue.volume }}{% endif %}
                #{{ issue.number }}</h1>
            <p>{{ issue.publisher_name }}</p>
            <p>{% if issue.volume > '' %}
                <span>Volume #</span> {{ issue.volume }}
            {% endif %}
            <span>Issue #</span> {{ issue.number }}</p>
            <p><span>Grade:</span> {{ issue.grade }}</p>
                <p><span>Date:</span>
                {{ issue.indicia_date }}
            {% if issue.genre_id > 0 %}
                <p><span>Genre:</span> {{ issue.genre_id.name }}</p>
            {% endif %}
            {% if issue.all_notes > "" %}
                <p>{{ issue.all_notes }}</p>
            {% endif %}
            <hr>
            <p>Price: <span class="price">${{ issue.price }}</span></p>
            {% if issue.quantity > 1 %}
                <p>Quantity Available: {{ issue.quantity }}</p>
            {% endif %}
            <p>Catalog # {{ issue.catalog_id }}</p>
            <hr>
            {% if issue.quantity > 0 %}
                {% if issue in cart_issues %}
                    <p class="btn non-btn">In Cart</p>
                {% else %}
                <a href="#/" class="btn btn-primary"
                   onclick="add_to_cart('{{ issue.catalog_id }}', this)">Add to Cart</a>
                {% endif %}
            {% else %}
                <p class="sorry">Sorry&mdash;Sold!</p>
            {% endif %}
                {% if issue in wish_list_issues %}
                    <p class="btn non-btn">In Want List</p>
                {% else %}
                    <a href="#/" class="btn btn-primary wish-list-detail"
                       onclick="add_to_wish_list('{{ issue.pk }}')">Want List</a>
                {% endif %}
                <a href="#/" class="btn btn-primary" onclick="history.go(-1)">Go Back</a>
                 {% if issue.images.all.0.is_scanned == False %}
                     <p><a href="/contact?scan={{ issue.catalog_id }}">Request a scan</a> of this actual comic</p>
                {% endif %}
                {% if issue.images.all|length > 1 %}
                    Scroll down! More images below!
                {% endif %}
           <div id="results"></div>


        </div>

   <!--
    indicia_date = models.CharField(max_length=255)
    si = models.CharField(max_length=255)
    added_date = models.DateTimeField()
    tags = models.ManyToManyField(Tag)
    quantity = models.IntegerField()
    status = models.CharField(max_length=63)
    sold_date = models.DateTimeField(null=True)
    -->
    </section>
{#        Display message if duplicate add to cart of single item    #}
    <div id="already_in_cart">Already in Cart<br>Not Added</div>
    <div id="added_to_cart">Added to Cart</div>
{% endblock %}