    <div class="columns">

    {% for issue in issues %}
        <div class="card column col-4">
            <div class="card-header">
                <h5 class="card-header">{{ issue.gcd_series.name }}</h5>
                <h6 class="card-meta"><span>Publisher:</span> {{ issue.gcd_series.gcd_publisher }}</h6>
                <div class="card-image">
                    <a href="{{ issue.get_absolute_url }}">
                        <img src="/static/thumbnails/{{ issue.cover_image }}"
                             alt="Cover of {{ issue.gcd_series.name }} #{{ issue.number }}"
                             class="img-responsive centered">
                    </a>
                </div>
            </div>
            <div class="card-body">
               {% if issue.volume > 0 %}
                    <p><span>Volume #</span> {{ issue.volume }}</p>
                {% endif %}
                <p><span>Issue #</span> {{ issue.show_number }}</p>
                <p><span>Date:</span> {{ issue.publication_date }}</p>
                <p><span>Catalog #</span> {{ issue.catalog_id }}</p>
                <p><span>Grade:</span> {{ issue.grade }}</p>
                {% if issue.grade_notes > "" %}
                    <p><span>Grade Notes:</span> {{ issue.grade_notes }}</p>
                {% endif %}
                {% if issue.genre %}
                    <p><span>Genre:</span> {{ issue.genre.name }}</p>
                {% endif %}
                {% if issue.gcd_notes > "" %}
                    <p><span>Issue Notes:</span> {{ issue.gcd_notes }}</p>
                {% endif %}
                {% if issue.notes > "" %}
                    <p><span>RTS Notes:</span> {{ issue.notes }}</p>
                {% endif %}
                <p>Price: <span class="price">${{ issue.price }}</span></p>
                <a href="#/" class="btn btn-primary" onclick="add_to_cart('{{ issue.catalog_id }}')">Add to Cart</a>
                <a href="{{ issue.get_absolute_url }}" class="btn btn-primary">Details</a>
                <a href="#/" class="btn btn-primary" onclick="add_to_wish_list('{{ issue.pk }}')">Add to Wish List</a>
            </div>
            {% if forloop.counter0 in breaks %}
                </div></div>
                <div class="columns">
            {% else %}
                </div>
            {% endif %}
        {% empty %}
            <h4>Sorry, no items found that match your request.</h4>
        {% endfor %}

