{% extends parent_template|default:"comix/base_comix.html" %}

{% block title %}
    {% if is_home %}
        {{ block.super }} - Home
    {% else %}
        {{ block.super }} - Comic List
    {% endif %}
{% endblock %}

{% block sectionhead %}
    {% load static %}
    {% if is_home %}
    <section id="promo" class="columns">
    <div id="slider">
        <div class="rotate-text">
        <h3>Welcome to RTS Comics Unlimited, Inc.</h3>
        <h4>Collectors helping collectors since 1984.</h4>
        <p>If you’re a collector of 1930-1960 comics<br>
        of any genre, we understand. Whether we have<br>
        it in our large collection or not, we will
            <br>help you find what you’re looking for.</p>
        </div>
    </div>
    <div id="meetrts">
        <h2>Meet RTS Comics</h2>
        <table>
            <tr>
                <td><img src="{% static 'comix/redstar.png' %}"></td>
                <td>30-Day Money-back Guarantee on All Orders</td>
            </tr>
            <tr>
                <td><img src="{% static 'comix/redstar.png' %}"></td>
                <td>Over 12,000 Different Comics in Stock</td>
            </tr>
            <tr>
                <td><img src="{% static 'comix/redstar.png' %}"></td>
                <td>Comics from 1917 to 2014</td>
            </tr>
            <tr>
                <td><img src="{% static 'comix/redstar.png' %}"></td>
                <td>Telephone Support at 303.403.1840</td>
            </tr>
            <tr>
                <td><img src="{% static 'comix/redstar.png' %}"></td>
                <td>Get Our Full-Color Catalog</td>
            </tr>
        </table>
    </div>
    </section>
    {% endif %}
    <section id="list" class="columns">
{% endblock %}
{% block subcontent %}
        <div class="column col-12 issue">
        {% if genre_text != None %}
            <h3>Category: {{ genre_text }}</h3>
        {% elif publisher_name != None %}
            <h3>Publisher: {{ publisher_name }}</h3>
        {% endif %}
{#        <h3>{{ request.session.per_page }} per page</h3>#}
            <label for="per_page">Show per page:</label>
             <select id="per_page" onchange="perPage(value);">
                <option value="12">12</option>
                <option value="36" {% if request.session.per_page == '36' %} selected="selected" {% endif %}
                >36</option>
                <option value="100"  {% if request.session.per_page == '100' %} selected="selected" {% endif %}
                >100</option>
                <option value="200L"  {% if request.session.per_page == '200L' %} selected="selected" {% endif %}
                >200 (List format)</option>
            </select>
            <span id="cts">Showing {{ page.start_index }} to {{ page.end_index }} of {{ page.paginator.count }}</span>
       <form id="sortorder" action="">
            <span>Sort Order: &nbsp;</span>
            <input type="radio" {% if sort_order == 'alpha'  or sort_order == None %}  checked {% endif %}
                   onclick="sortby('alpha')" name="sort" value="alpha" id="alpha">&nbsp;Alphabetically &nbsp;
            <input type="radio" {% if sort_order == 'price-down'%}  checked {% endif %}
                   onclick="sortby('price-down')" name="sort" value="-price" id="price-down"> Price High to Low &nbsp;
            <input type="radio" {% if sort_order == 'price-up' %}  checked {% endif %}
                   onclick="sortby('price-up')" name="sort" value="price" id="price-up"> Price Low to High &nbsp;
        </form>
        {% include 'comix/pagination.html' %}
        {% if request.session.per_page == '200L' %}
            {% include 'comix/issue_list_list.html' %}
        {% else %}
            {% include 'comix/issue_list_items.html' %}
        {% endif %}
        {% include 'comix/pagination.html' %}
        </div>
        </div>

   <!--
    indicia_date = models.CharField(max_length=255)
    inserts = models.CharField(max_length=255)
    si = models.CharField(max_length=255)
    added_date = models.DateTimeField()
    tags = models.ManyToManyField(Tag)
    quantity = models.IntegerField()
    status = models.CharField(max_length=63)
    sold_date = models.DateTimeField(null=True)
    -->

    </section>

{#        Display message if duplicate add to cart of single item    #}
    <div id="already_in_cart">Already in Cart<br>Not Added</div>
    <div id="added_to_cart">Added to Cart</div>

<script>
{#    var item_ct = {{ page.end_index }} - {{ page.start_index }} + 1;#}
function last_row() {
    $cards = $('.card.comic');
    card_ix = $cards.length - 1;
    max_width = $cards.last().css('width');
    cur_width = $cards.first().css('width');
    $cards.slice(-8).css('max-width', cur_width);
    linkleft = $cards.last().position().left + parseInt(cur_width) + 40;
    if (window.innerWidth > linkleft + 50) {
        $('#linknext').show().css({'top': $cards.last().position().top + 100, 'left': linkleft});
    } else {
        $('#linknext').hide();
    }

}
$(window).ready(last_row);
$( window ).resize(last_row);
</script>

{% endblock %}