{% extends parent_template|default:"base.html" %}
{% block title %}
{{ block.super }} - Publisher List
{% endblock %}
{% block content %}
    <section class="columns" id="title">
        <h1>Click on a Publisher</h1>
    </section>
    <section id="list" class="columns">
        <div class="col-3 column">
        {% for publisher in publishers %}
                    <p class="{% if publisher.issue_ct > 5000 %}
                                size3em
                                {% elif publisher.issue_ct > 600 %}
                                 size2em
                                {% endif %}">
                        <a href="/issues/?publisher={{ publisher.slug }}">{{ publisher.name }}</a> </p>
            {% if forloop.counter0 in col_breaks %}
                </div>
                <div class="col-3 column">
            {% endif %}
        {% endfor %}
        </div>

    </section>

{% endblock %}